.admin-wrapper {
  min-height: 100% !important;
  width: 100%;
  display: flex;
}

.sidebar {
  overflow-y: auto;
  background-color: #212529;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 5em 0;
}

.navlinks {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0 2em;
}

.sub-link {
  cursor: pointer;
  display: flex;
  gap: 1em;
  align-items: center;
}

.sub-link > span {
  color: #fff;
  font-size: 30px;
}

.material-symbols-outlined {
  color: #fff !important;
  font-size: 26px !important;
  transition: all ease-in-out 0.5s !important;
}

.sub-link:hover > .material-symbols-outlined {
  font-size: 48px !important;
  color: #f5a905 !important;
}

.sub-link:hover > .material-symbols-outlined ~ a {
  font-size: 32px !important;
  color: #f5a905 !important;
}

.sub-link > a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: all ease-in-out 0.5s;
}

.link.active,
.material-symbols-outlined.active {
  color: #f5a905 !important;
  font-size: 32px !important;
}

.admin-main {
  overflow-y: auto;
  background-color: #181c1f;
  flex: 5;
  padding: 2rem;
  min-height: 80%;
  max-width: 100%;
}
