:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
}

html,
body,
#root {
  width: 100%;
  min-height: 100% !important;
  height: 100%;
}

.top-nav {
  background-color: #ffbb00;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 3em;
  position: sticky;
  top: 0;
  z-index: 10;
}

.top-nav > ul {
  display: flex;
  color: black;
  gap: 2em;
  padding: 0;
}

.bottom-nav {
  min-height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffbb00;
  display: flex;
  align-items: center;
  padding: 0 3em;
  z-index: 10;
}

.bottom-nav > ul {
  display: flex;
  color: black;
  gap: 2em;
  padding: 0;
}

.main {
  margin-bottom: 80px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .top-nav,
  .bottom-nav {
    background-color: #213547;
  }

  button {
    background-color: #f9f9f9;
  }
}
