:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --input-background: #979696;
  --text: #ffffff;
  --nav-text: #4e4d4d;
  --nav-background: #ffbb00;
  --primary: #242424;
  /* --secondary: #78787a; */
  --secondary: #504e4e;
  --success: #0c130d;
  --success-text: #c6e1c7;
  --success-icon: #5ba75e;
  --error: #160b0b;
  --error-text: #db773a;
  --error-icon-background: #db773a;
  --error-hover: #884925;

  --optional-success-color: #CD2CC;
  --optional-success-text: #2d2f31;

  --border-primary: #ffffff;
  --border-secondary: #665c5c;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

h6 {
  color: var(--text);
}

html,
body,
#root {
  width: 100%;
  min-height: 100% !important;
  height: 100%;
}

.top-nav {
  background-color: var(--nav-background);
  height: 50px;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

.top-nav > .address {
  display: flex;
  gap: 1em;
  padding: 0;
  align-items: center;
  color: var(--nav-text);
}

.top-nav > .user {
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  color: var(--nav-text);
}

.bottom-nav {
  min-height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--nav-background);
  display: flex;
  align-items: center;
  padding: 0 3em;
  z-index: 10;
  justify-content: center;
}

.bottom-nav > .navigation {
  display: flex;
  gap: 2.5rem;
}

.nav > a {
  color: var(--nav-text);
  text-decoration: none;
}

.nav > a.active {
  color: var(--text);
}

.navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.navlink > .bottom-icons {
  font-size: 2.5rem;
}

.main {
  margin-bottom: 100px;
  max-width: 100%;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .top-nav,
  .bottom-nav {
    background-color: #6a6c6d;
  }

  button {
    background-color: #f9f9f9;
  }
} */

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    padding: 0;
  }

  .top-nav,
  .bottom-nav {
    padding: 0 1rem;
  }

  .bottom-nav {
    padding: 0;
  }

  .bottom-nav > .navigation {
    align-self: center;
  }

  .user > .name {
    display: none;
  }
}
