.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.login-wrapper {
  width: 100dwh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.card {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-radius: 10px;
  min-width: 25%;
  max-width: 100%;
  min-height: 50%;
  box-shadow: 0 0 500px var(--secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  max-width: 100%;
}

.loginform > h1 {
  letter-spacing: 0.1em;
  align-self: center;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.signup > .forgot-password {
  display: flex;
  gap: 0.5rem;
}

.forgot-password > .forgotPassword {
  text-decoration: underline;
  color: #ffadff;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--input-background);
  border: none;
  border-radius: 5px;
  padding: 1em;
  outline: none;
  color: black;
  font-size: 1.2rem;
}

.input:-webkit-autofill ~ .label {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
}

.label {
  position: absolute;
  top: 17px;
  left: 20px;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  cursor: text;
}

.input:focus + .label {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
}

.label.nontext {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
}

.btn {
  padding: 1rem;
  background-color: transparent;
  border: 2px solid var(--border-primary);
  border-radius: 5px;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 1px;
  transition: all ease-in 0.4s;
  width: 100%;
}

.btn:hover {
  box-shadow: 5px 5px var(--border-primary);
}

.error-block {
  align-self: center;
  background-color: var(--error);
  width: 100%;
  transition: all ease-in 0.4s;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  transition: all ease-out 0.2;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.logout-block {
  align-self: center;
  /* background-color: #20c920; */
  background-color: var(--success);
  width: 100%;
  transition: all ease-in 0.4s;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  transition: all ease-out 0.2;
  opacity: 1;
}

.logout-block > .content {
  padding: 0 0.5rem;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logout {
  color: var(--success-text);
}
.counter {
  border: 4px solid var(--success-icon);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.material-symbols-outlined.check-icon {
  color: var(--success-icon) !important;
}

.error-block.show {
  opacity: 1;
  visibility: visible;
  width: 100%;
  padding: 2em 0;
}
.error.show {
  visibility: visible;
  opacity: 1;
}

.material-symbols-outlined.error-icon,
.material-symbols-outlined.close {
  color: var(--error-text) !important;
}

.material-symbols-outlined.error-icon {
  margin-top: 0.1rem;
  margin-left: 2rem;
}

.material-symbols-outlined.close {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.material-symbols-outlined.close:hover {
  background-color: var(--error-hover);
  transition: all ease-in-out 0.4s;
}

.error {
  padding: 0em 1em;
  color: var(--error-text);
  letter-spacing: 1px;
  flex: auto;
  transition: all ease 1s;
  opacity: 0;
  visibility: hidden;
  /* animation: 10s ease-in-out 1 alternate fadeIn; */
}

@keyframes fadeIn {
  40% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    height: 100%;
  }

  .material-symbols-outlined.check-icon {
    margin-right: 0.5rem;
  }

  .content {
    justify-content: space-between;
    gap: 0.5rem;
  }

  .signup {
    flex-direction: column;
    gap: 1rem;
  }
}
