.service {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(auto-fill);
  row-gap: 1rem;
  margin-top: 1rem;
}

.service > .service-data {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border: none;
  /* background: conic-gradient(
      from -45deg at bottom,
      #78787a 90deg,
      transparent 0
    )
    50%/15px 100%; */
  background: conic-gradient(
        from 135deg at top,
        #0000,
        #78787a 1deg 89deg,
        #0000 90deg
      )
      top/10px 51% repeat-x,
    conic-gradient(
        from -45deg at bottom,
        #0000,
        #78787a 1deg 89deg,
        #0000 90deg /* you can set use transparent instead of #0000 */
      )
      bottom/10px 51% repeat-x;
}

.service-data > .left-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.left-data > h2 {
  position: relative;
  left: -25px;
}

.left-data > .more {
  padding: 5px;
  background-color: #fff;
  color: #1919e0;
  width: 100px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d3a55f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.service-data > .right-data {
  position: relative;
}

.service-data > .right-data > img {
  border-radius: 20px;
  opacity: 0.9;
}

.title {
  position: absolute;
  top: -10px;
  opacity: 1;
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  border-radius: 30px;
  background-color: #f09c00;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .service {
    overflow-x: hidden;
  }

  .service > .service-data {
    padding: 1em 2em;
    gap: 2rem;
  }

  .left-data {
    flex-grow: 3;
  }

  .right-data {
    flex-grow: 1;
  }

  .service-data > .right-data > img {
    max-width: 125px;
    max-height: 125px;
  }

  .left-data > h2 {
    position: relative;
    left: -25px;
    font-size: 18px;
  }

  .left-data > .more {
    width: 75px;
    border-radius: 40px;
    font-size: 12px;
  }
}
